*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#page{
    width: 100%;
    height: 100vh;
    background-color: rgb(41, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 3px solid black;
    border-radius: 20px;
    width: max(500px,50%);
    padding: 40px 60px;
    margin: 10px;
    height: auto;
    background-image: linear-gradient(rgb(132, 239, 239),rgb(57, 57, 122));
}
.enter{
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    max-height: 50px;
    border-radius: 20px;
}
.enter input{
    flex: 1;
    background: transparent;
    font-size: 18px;
    padding-left: 20px;
    border: none;
    outline: none;
}
.enter button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    padding-right: 15px;
}
.enter button img{
    margin-top: 4px;
    width: 25px;
    height: 25px;
    background-size: cover;
}
.info{
    margin-top: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.info img{
    width: 175px;
    height: auto;
}
.info h2{
    font-size: 2rem;
    color: white
}
.details{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.more{
    display: flex;
    gap: 20px;
}
.more img{
    padding-top: 10px;
    width: 40px;
    height: 40px;
}
.numbers{
    display: flex;
    flex-direction: column;
}
.numbers p{
    font-size: 20px;
    color: black;
}
.weather{
    display: none;
}
.error{
    margin-top: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    color: rgb(121, 7, 7);
    font-weight: 600;
    display: none;
}